.pos-component {
  text-align: center;
}

.pos-token {
  background-color: coral;
  border-radius: 8px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.pos-token {
  background-color: cornflowerblue;
  border-radius: 8px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
}